%html
  %head
    %script{src: 'js/right-src.js'}
    %script{src: 'js/main.js'}
    %script{src: 'js/right-keys.js'}
    %script{type: 'text/javascript', src: 'https://login.persona.org/include.js'}
    %link{rel:'stylesheet', type: 'text/css', href: 'css/main.css'}
    %title Tasks
  %body
    #header
      %span.a.logout Log out
      %span.mail= @mail
    #L
      #tasks
      #spacer
      %textarea{id: 'tasks_add_task', placeholder: 'Input new task here'}
    #R
      #delegates
      %input{id: 'delegates_add', placeholder: 'Add new delegate'}