%html
  %head
    %title Please login to use tasks
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/auth.css'}
    %script{type: 'text/javascript', src: '/js/right.js'}
    %script{type: 'text/javascript', src: '/js/auth.js'}
    %script{type: 'text/javascript', src: 'https://login.persona.org/include.js'}
  %body
    #form
      %input{id: 'login'}
      @corp.badoo.com
      %span.a.login Log in